body {
    text-align: center;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
}
.section-container {
    width: 34%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
}
section {
    position: absolute;
  display: block;

}
p {
    color: #04220c;
    font-family: OpenSansLight;
}
.form-backgrount {
    width: 400px;
    height: 625px;
    background-color: #a9d7dd;
    opacity: 0.6;
}
.registrate-form {
    width: 400px;
}
input, select {
    width: 80%;
    background-color: white;
    margin: 8px;
    padding: 10px;
    color: #0b0962;
}
select {
    width: 86%;
}
option {
    background-color: #f4fffb;
}
/*input[name="submit"] {
    width: 86%;
    background-color: #0b0962;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}*/
.variants {
    color: black;
    background-color: #cff4e5;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}
button {
    width: 86%;
    background-color: #04346b;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    margin: 8px;
    padding: 10px;
}
.option-chosen {
    display: none;
    color: #d41a0d;
    text-decoration: underline;
}
.results {
    color: #0e3f1a;
}
.close-symbol:hover {
    font-size: 12px;
}
textarea {
    padding: 10px;
    margin: 10px;
}
